{{define "alert"}}
    <div id="muto-alert" class="container center">
        <div class="chip {{.Level}} lighten-4 {{.Level}}-text text-darken-2">
             {{.Message}}
            <i class="close material-icons">close</i>
        </div>
    </div>
{{end}}