{{define "yield"}}
    <div class="container">
        {{template "privacypolicyHeader"}}
        {{template "privacypolicyContent"}}
    </div>
{{end}}

{{define "privacypolicyHeader"}}
    <div class="row center">
        <h2>Privacy Policy</h2>
    </div>
{{end}}

{{define "privacypolicyContent"}}
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                <h4>Information</h4>
            </div>    
        </div>
    </div>
{{end}}